name: 'CI Validate'
on:
  pull_request:
    branches: [ main ]
    paths:
      - 'modules/**'
      - '.github/workflows/**'
  push:
    branches: [ main ]
    paths:
      - 'modules/**'
      - '.github/workflows/**'

jobs:
  validate:
    uses: ntatschner/tcs-shared-workflows/.github/workflows/ci-validate.yml@main
    with:
      module-name: 'tcs.intune.packaging'
      module-path: 'modules/tcs.intune.packaging'
      install-modules: |
        tcs.core